<head>
  <style>
    .large-button {
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <table>
    <p style="font-size: 40px;">Upkeep Meter Sync</p>
    <p>Sync's actual machine run hours to Upkeep "meters" to trigger time based maintenance</p>
    <%= button_to "Update Meters", { action: "update_meters" }, method: :post, class: "large-button"%>
    <thead>
      <tr>
        <th>Area Name</th>
        <th>Location Name</th>
        <th>Total Machine Hours</th>
        <th>Last Data Sync Time</th>
      </tr>
      <% if @machineHours.empty? %>
        <tr>
          <td>no data</td>
          <td>no data</td>
          <td>no data</td>
          <td>no data</td>
        </tr>
      <% else %> 
        <% @machineHours.each do |record| %>
          <tr>
           <td><%= record.area_name %></td>
           <td><%= record.location_name %></td>
            <td><%= record.total_up_seconds.to_i/60 %></td>
            <td><%= record.time %></td>
         </tr>
        <% end %>
      <% end %>
      <tr>
          <th>Meter Name</th>
          <th>Meter ID</th>
          <th>Meter Value</th>
          <th>Last Data Sync Time</th>
        </tr>
      <% if @upkeepMeterReadings.empty? %>
        <tr>
          <td>no data</td>
          <td>no data</td>
          <td>no data</td>
          <td>no data</td>
        </tr>
      <% else %>
        <% @upkeepMeterReadings.each do |record| %>
          <tr>
            <td><%= record[0]["meter"] %></td>
            <td><%= record[0]["id"] %></td>
            <td><%= record[0]["value"] %></td>
            <td><%= record[0]["date"].in_time_zone %></td>
          </tr>
        <% end %>
      <% end %>

    </thead>
  </table>
</body>

